PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/branded_link_hub
JWT_ACCESS_SECRET=dev_jwt_access_secret_super_secure_key_12345
JWT_REFRESH_SECRET=dev_jwt_refresh_secret_super_secure_key_67890
IP_HASH_SALT=dev_ip_hash_salt_pepper_99999
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:5001
NODE_ENV=development
